{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<h1>About</h1>
<h3> Welcome to Rate UP Professors (RUPP)! </h3>

<div>
  <p>
    Many UP students have voiced out their frustration over the decision of the UP administration enforcing a cease and
      desist to the operation of the RUPP website (http://rupp.herokuapp.com/). Founded by  @himachizu(Twitter),
    RUPP allows students to rate freely and anonymously the professors they've taken and provide reasoning for such.
    Although SET has been established for the same reason, students do not see the improvement and some professors
    seem to pointedly ignore the critiques they receive.
</p>
  <p>
    Since it had been a hot issue at some time, I decided to use it for this project in LIS 161 class. <br>
    - Amira
  </p>
</div>

{% endblock %}